@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #2B2922;
  font-family: "Roboto", sans-serif;
}

.container {
  margin: 40px 50px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list li {
  list-style-type: none;
  padding: 10px 30px;
}

.list-item {
  color: #fff;
  font-weight: 100;
}

.list-item:first-child {
  font-weight: 700;
}

.button-small {
  border: 1px solid #A08F36;
  color: #A08F36;
  background-color: #2B2922;
  font-size: 18x;
  font-weight: 700;
  padding: 15px 30px;
  border-radius: 12px;
}

.hero {
  margin-top: 50px;
}

.hero-heading {
  font-size: 80px;
  width: 600px;
  color: #fff;
  float: left;
  margin-top: 20px;
}

.content {
  float: right;
  width: 400px;
  color: #fff;
  margin-top: 50px;
  margin-right: 100px;
  text-align: left;
  font-size: 22px;
  font-weight: 100;
  line-height: 1.6;
}

.bottom img {
  margin-top: 28px;
  height: 350px;
  width: 100%;
}