@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #2b2922;
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
}

.container {
  margin: 4rem 5rem;
}

.navbar,
.list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list li {
  list-style-type: none;
  padding: 1rem 3rem;
}

.list-item {
  color: #fff;
  font-weight: 100;
  font-size: 1.6rem;
}

.list-item:first-child {
  font-weight: 700;
}

.button-small {
  border: 1px solid #a08f36;
  color: #a08f36;
  background-color: #2b2922;
  font-size: 1.8rem;
  font-weight: 700;
  padding: 1.5rem 3rem;
  border-radius: 1.2rem;
}

.hero {
  margin-top: 5rem;
}

.hero-heading {
  font-size: 8rem;
  width: 40%;
  color: #fff;
  float: left;
  margin-top: 2rem;
}

.content {
  float: right;
  width: 40%;
  color: #fff;
  margin-top: 5rem;
  margin-right: 10rem;
  text-align: left;
  font-size: 2.2rem;
  font-weight: 100;
  line-height: 1.6;
}

.bottom img {
  margin-top: 2.8rem;
  width: 100%;
}
